<h1>New Comment</h1>

<ul>
  <div class="field" >
    <%=  @post.titel %>
    <%=  @comments.post.content %>
  </div>

<% @post.comments.each do |mycomment| %>
    <% if mycomment.id!=nil %>
      <li>
        <%= mycomment.user.name %> |
        <%= mycomment.comment %> <br/>
      </li>
    <% end %>
<% end %>
</ul>

<%= render 'form', {comment:@comments , user_id: @user.id , post_id: @post.id} %>

<%= link_to 'Back', user_post_comments_path %>
