<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @post.titel %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<p>
<% @post.comments.each do |mycomment| %>
    <% if mycomment.id!=nil %>
      <li>
        <%= mycomment.user.name %> |
        <%= mycomment.comment %> <br/>
      </li>
    <% end %>
<% end %>
</p>
<p>
  <%= link_to 'New Comment', new_user_post_comment_path({user_id: @user.id , post_id: @post.id}) %>
</p>
<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_post_path({ id: @post.id}) %> |
<%= link_to 'Back', user_posts_path %>
